.tox .tox-edit-area::before{
  outline: none !important; 
  border: none !important; 
}

input:focus,
textarea:focus,
button:focus {
  border: 1px solid #007bff !important; /* Đổi màu border khi focus */
  box-shadow: 0 0 8px rgba(0, 123, 255, 0.6) !important;
  outline: none;
}

textarea {
  font-family: "Segoe UI Historic", "Segoe UI", Helvetica, Arial, sans-serif
}
textarea::placeholder{
  font-family: -apple-system, "system-ui", "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
  font-size: 20px;
}